page-home {
  .background {
    background-image: url('../../assets/imgs/bg_main.png');
    background-size: cover;
    }
    .img-menu {
      height: 150px;
      width: 150px;
     align:center;
     margin-left:20px;
      }

}
